/* Services */

.v-card-text {
  height: 115px;
  overflow-y: auto;
}

.services-card {
  border-radius: 20px;
  background-color: #645238; /* #644920*/
  height: 200px;
}

#services-container {
  max-width: 1250px;
}

.services-img, .services-row {
  height: 300px;
}

.services-row {
  padding-bottom: 55px;
}

/* App */

.v-application {
  --v-theme-background: #441010; /* Set a custom background color for the application */
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(139, 78, 78);
  font-size: 18px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #c6c7d6;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
}

#background {
  background-image: url('assets/stacked-waves-haikei.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}