/* Header classes */
.main-header {
    border-radius: 0px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .2);
    letter-spacing: 6px;
    font-size: 3.0rem;
    font-weight: 600;
    position: relative;
    z-index: 10;
}

.main-header-small {
    letter-spacing: 3px;
    font-size: 1.5rem;
    font-weight: 600;
}

.header-color {
    /* background-color: #5a420f;  */
    background-color: #573e24;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 20px;
}

.v-text-small {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  padding-left:0px;
  padding-right: 0px;
}

.easy-to-see {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
}


/* Paragraph classes */
.p-container {
    text-align: center;
}

.p-text {
  width: 85%;
  background-color: rgba(104, 63, 22, 0.6);
  border-radius: 15px;
  line-height: 1.4;
  letter-spacing: .9px;
}

.p-text-size-lg {
  font-size: 1.1rem;
  font-weight: 400;
  padding: 15px 35px;
  margin: 45px auto;
}

.p-text-size-md {
  font-size: 1rem;
  font-weight: 400;
  padding: 15px 35px;
  margin: 45px auto;
}

.p-text-size-sm {
  font-size: 16px;
  padding: 10px 10px;
  margin: 35px auto;
  width: 100%;
  line-height: 1.3;
}

/* Header classes */

.loud-header {
    margin-top: 40px;
    margin-bottom: 40px;
    letter-spacing: 3px;
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 1;
}

.loud-header-h2 {
    margin-top: 40px;
    margin-bottom: 40px;
    letter-spacing: 3px;
    font-size: 2.6rem;
    font-weight: 650;
    line-height: 1;
    background-color: #573e24;
    padding: 22px;
    border-radius: 15px;
    width: 70%;
    margin: 0 auto;
}

.h2-subheading {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    background-color: #573e24;
    padding: 22px;
    border-radius: 15px;
    width: 100%;
    margin: 0 auto;
    letter-spacing: 3.5px;
}

/* Misc App Classes */

.v-application {
  font-family: 'Inter', sans-serif;
  --v-theme-background: #0e3b05; /* Set a custom background color for the application */
  color:#ffffff;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(187, 187, 187);
  font-size: 18px;
}

a {
    color: #adeea4;
    text-decoration: inherit;
  font-weight: 500;
}

a:hover {
    color: #80da85;
}

.flex-and-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
}

#background {
  background-image: url('assets/stacked-waves-haikei.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}